
.join-btn-color {
    background-color: #F37944;
}

.round {
    border-radius: 16px;
}

.navbar {
    padding: 6px 12px 6px 12px;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.04), 0px 3px 4px rgba(0, 0, 0, 0.07);
    background-color: #f9f9f9;
}

.nav-color-owner {
    color: #F37944;
    border-color: #F37944;
}

.nav-color-owner:hover {
    color: #F37944;
}

.round2 {
    border-radius: 12px;
    width: 15%;
}

.nav-text-btn {
    color: #231F20;
    font-size: 20px;
    margin-top: 4px;
}

.nav-text-btn:hover {
    color: #C25738;
}

.signout-btn {
    cursor: pointer;
}

.dropdown:hover {
    background-color: #eee9e3;
    border-radius: 12px;
}

.a-dropdown {
    color: #2b2b2b;
}

.a-dropdown:hover {
    color: #F37944;
    text-decoration: none;
}

.a-dropdown:active {
    color: #F37944;
    background-color: white;
    text-decoration: none;
}

.dropdown-show-profile {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown-profile-label {
    cursor: text;
}

.dropdown-toggle::after {
    display: none;
}

.create-btn {
    background-color: #F37944;
}

.create-btn:hover {
    background-color: #df612b;
}

.profile-session {
    cursor: pointer;
}

.search-btn {
    border: 2px solid #F37944;
    font-weight: 500;
    color: #F37944 !important;
}

.search-btn:hover {
    border: 2px solid #F37944;
    background-color: #F37944;
    font-weight: 500;
    color: #f7f7f7 !important;
}

.WebLogo {
    width: 140px;
    height: 60px;
}

.dropdown-menu {
    border-radius: 16px;
    border: none;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
}

.a-dropdown:hover {
    border-radius: 8px;
    background-color: #eee9e3;
    color: #231F20;
}

.dropdown-see-profile {
    font-size: 10.5px;
    text-decoration: none;
    color: #231F20;
    padding: 0;
    margin: 0;
}

.dropdown-see-profile:hover {
    text-decoration: none;
    color: #C25738;
}
